#header {
  padding-left: 1em;
  padding-right: 1em;
}

.dropdown-button.btn-flat {
  text-transform: none;
  padding: 0px;
  margin-bottom: 0.7em;
}

#textbox {
  height: 80%;
  resize: none;
  border: none;
}

#textbox:focus {
  outline-width: 0;
}


