<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>461 Collaborative Editor</title>
    <link rel="stylesheet" type="text/css" href="css/editor.css" />
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <!-- TODO: Figure out if we should use TinyMCE -->
    <script type="text/javascript" src="js/editor.js"></script>
</head>
<body>
    <h1>CSE 461 Collaborative Editor</h1>
    <p>Hello world! :D</p>
    <p th:text="'You are editing document with ID = ' + ${docId} + '!'"/>
    <textarea id="textbox" rows="20">Look at this shit!</textarea>
</body>
</html>